html{
  -moz-appearance
  -webkit-appearance: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  float: right;
}

li p{
  display: block;
  padding: 8px;
  color: grey;
}

nav{
  height: 30px;
  font-size: 13px;
  font-family: arial, sans-serif;
  opacity: 0.75;
  text-align: right;
  white-space: nowrap;
}

#bluebutton{
  background-color: rgb(67, 135, 253);
  margin-top: 15px;
  border-style: solid;
  border-color: rgb(66, 133, 244);
  border-radius: 2px;
  color: white;
  font-weight: 700;
  line-height: 28px;
  padding: 0,12px,0,12px;
  display: inline-block;
}

.space{
  padding-left: 15px;
}

.clogo{
  margin-top: 201px;
  position: static;
  background-attachment: scroll;
}

.stfr{
  position: relative;
  color: rgb(66, 133, 244);
  font-family: roboto-regular, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  left: 105px;
  line-height: 16px;
  white-space: nowrap;
  font-language-override: normal;
  top: -22px;
  width: 225px;
}

.fbox{
	max-width: 584px;
	margin: -1px 0px 1px;
  background-color: #fff;
  height: 39px;
  vertical-align: top;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  line-height: 0;
  white-space: nowrap;
  padding: 3px 0px 2px 0px;
}

.sbar{
  position: static;
  padding: 2px 9px 0px 16px;
  white-space: nowrap;
  height: 39px;
}

.sinput{
  position: relative;
  border: medium none;
  width: 100%;
  background: transparent;
  height: auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  height: 34px;
}


.underbox{
  padding-top: 18px;
}

.binput{
  position: static;
  margin: 11px 4px 11px 4px;
  border-width: 1px;
  border-radius: 2px;
  padding: 0px 16px 0px 16px;
  color: grey;
  height: 36px;
  line-height: 27px;
  font-size: 13px;
  font-weight: 700;
  font-family: Arial, sans-serif;
  border-style: solid;
  border-color: rgb(242, 242, 242);
}

.binput:hover{
  color: black;
  background-color: #F2F2F2;
  border-color: #C6C6C5;
}

.ntxt{
  margin-top: 12px;
  margin-bottom: 24px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.link{
  text-decoration: none;
  color: rgb(26, 13, 171);
  padding-left: 3px;
  padding-right: 3px;
}
